<template>
<div>
<h1>Posts</h1>
<div class="row">
<div class="col-md-10"></div>
<div class="col-md-2">
<router-link :to="{ name: 'create' }" class="btn btn-primary">Create Post</router-link>
</div>
</div><br/>
<table class="table table-hover">
<thead>
    <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Actions</th>
    </tr>
</thead>
    <tbody>
        <tr v-for="post in posts" :key="post.id">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td><router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link></td>
            <td><button class="btn btn-danger " @click.prevent="deletePost(post.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
</template>
<script>
export default{
    data() {
        return{
            posts: []
        }
    },
    created() {
        let uriOrigin = window.location.origin;
        let uri =  uriOrigin + "/api/posts"; //'http://vuelaravelcrud.test/api/posts';
        this.axios.get(uri).then(response=>{
        this.posts = response.data.data;
        });
    },
    methods: {
        deletePost(id)
        {
            console.log(this.post);
            let uriOrigin = window.location.origin;
            let uri =  uriOrigin +'/api/post/delete/'+ id;
            this.axios.delete(uri).then(
                response => {
                    for (var i = 0; i < this.posts.length; i++) {
                    if (this.posts[i].id === id) {
                    this.posts.splice(i, 1);
                        }
                    }
                }
            );
        }
    }
}
</script>
